@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-color: #fafafa;
  --secondary-color: #e3e3e3;
  --accent-color: #ee6f57;
  --accent-dark-color: #cb3737;
}

body {
  background-color: var(--primary-color);
  color: #333;
  margin: 0;
  padding: 0;
}
