@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-color: #fafafa;
  --secondary-color: #e3e3e3;
  --accent-color: #ee6f57;
  --accent-dark-color: #cb3737;
}

body {
  background-color: white;
  color: #333;
  margin: 0;
  padding: 0;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea,
select {
  background-color: white;
  color: #333;
}
